* {
  margin: 0px;
  padding: 0px;
}

.form {
  background-color: rgb(255, 0, 170);
  width: 300px;
  height: 480px;
  border-radius: 20px;
  margin-top: 130px;
  margin-left: 640px;
}

.form h2 {
  margin-left: 100px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-top: 20px;
}

.form label {
  margin-left: 50px;
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.ipt {
  margin-left: 25px;
  border-radius: 1px;
  height: 25px;
  width: 225px;
  border: none;
  color: rgb(237, 106, 193);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}

.ipt2 {
  margin-left: 25px;
  border-radius: 1px;
  height: 25px;
  width: 250px;
  border: none;
  color: rgb(255, 0, 170);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  border-radius: 15px;
  margin-bottom: 10px;
}

/* .form a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 120px;
    margin-bottom: -10px;

    
} */

.sign_in {
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-left: 120px;
}
